
<app-header></app-header>
<section class="body">
        <div class="container">
                <div class="row">
                    <div class="login col-lg-6 offset-lg-3">
                            <form style="margin-left: 30px; margin-right: 30px" [formGroup] = "form" (ngSubmit) = "login(form.value)" >
                                    <div class="title-login">
                                        <h4>Chào mừng tới SU'S</h4>
                                    </div>
                                    <div class="form-group">
                                      <label for="exampleInputEmail1">Email
                                          <small>*</small>
                                      </label>
                                      <!-- <input type="email" class="form-control" id="" aria-describedby="emailHelp" placeholder="Nhập email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" required> -->
                                      <input type="email" name="email" class="form-control" id="" aria-describedby="emailHelp" placeholder="email" formControlName="email" [(ngModel)]="credentials.email">
                                      <small id="emailHelp" class="form-text text-muted" ></small>
                                    </div>
                                    <div class="form-group">
                                            <label for="exampleInputPassword1">Mật khẩu
                                                <small>*</small>
                                                <small style="color: black;"> (Độ dài tối thiểu là 6 kí tự)</small>
                                            </label>
                                            <!-- <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mật khẩu" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required> -->
                                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mật khẩu" name ="password" formControlName="password" [(ngModel)]="credentials.password">
                                            <small id="passwordHelp" class="form-text text-muted" ></small>
                                    </div>
                                    <!-- <a routerLink="/"> -->
                                    <a>
                                        <!-- <button  class="btn btn-primary btn-lg btn-block" style="margin-bottom: 40px; margin-top: 40px" (click)="onSubmit()" >Đăng nhập</button> -->
                                        <button  class="btn btn-primary btn-lg btn-block" style="margin-bottom: 40px; margin-top: 40px" [disabled] = "!form.valid" >Đăng nhập</button>
                                    </a>
                                    
                             </form>
                    </div>
                </div>
                
                
            </div>
</section>


