/* .results {
    padding: 3px;
    display: inline-block;
    height: 10vh;
    min-width: 40vw;
    border-style: solid;
    border-width: 1px;
    border-radius : 3px;
    border-color: grey;
    font-weight: bold;
  }
  
  .final {
    color: black;
    font-weight: normal;
  }
  
  .interim {
    color: darkgrey;
  } */
 
  .list-title{
    margin-top : 50px;
    color: #292A3A;
    font-size: 40px;
    font-weight: bold;
    /* text-align: center; */
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 50px;
}
.infor-quiz{
  border: 2px solid #EAEFF2;
  border-radius: 8px;
}